* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
}

@mixin p-text() {
    width: 100%;
    max-width: 730px;
    color: #9EABB2;
    text-align: center;
    font-family: "Bai Jamjuree";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
    letter-spacing: 0.15px;
    font-size: 16px;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.12px;
}
@mixin h1-text() {
    width: 100%;
    max-width: 730px;
color: #4C545C;
text-align: center;;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.587px;
color: #4C545C;

}

a {
    all: unset;
    cursor: pointer;
}

body {
    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 1110px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .text-bottom{
        display: flex;
        flex-direction: column;
        gap: 19px;
    }
    h1{
        @include h1-text();
    }
    p{
        @include p-text();
    }
    h2{
        width: 100%;
        max-width: 350px;
        color: #4C545C;font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.391px;
    }
    .btn-box{
        width: 100%;
        max-width: 470px;
        height: 56px;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        a {
            cursor: pointer;
            width: 100%;
            max-width: 227px;
            height: 56px;
            flex-shrink: 0;
            border-radius: 28px;
            background: #26BBA4;
            box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.50), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; /* 166.667% */
            letter-spacing: 0.5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a:nth-child(2){
            background: #6174FF;
        }
    }
    header {
        background: linear-gradient(0deg,white,transparent),url("./img/Bitmap\ 2.png");
        background-repeat: no-repeat;
        background-size: 100%;
        .container {
            .top {
                padding-top: 128px;
                display: flex;
                flex-direction: column;
                gap: 56px;
                align-items: center;

                h1 {
                    width: 100%;
                    max-width: 730px;
                    color: #4C545C;
                    text-align: center;
                    font-size: 46px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.75px;
                }
            }
        }
    }

    main {
        padding-top: 16px;
        padding-bottom: 150px;
        #a1 {
            .container {
                gap: 150px;
                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 48px;   
                }   
            }
        }
        #a2{
            margin: 0 auto;
            width: 100%;
            max-width: 1440px;
            padding-top: 80px;
            position: relative;
            .container{
                flex-direction: row;
                max-width:  1212px;
                gap: 110px;
                flex-wrap: wrap;
                .im{
                    position: absolute;
                    width: 100%;
                    max-width: 1110px;
                    height: 572px;
                    background: url("./img/Group\ 10.svg");
                    background-repeat: no-repeat;
                    background-size: 67.3%;
                    left: -32px;
                }
                .img{
                    width: 100%;
                    max-width: 614px;
                    height: 572px;
                    
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    gap: 56px;
                    width: 100%;
                    max-width: 350px;
                    .line{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        p{
                            text-align: start;
                        }
                    }
                }

            }
        }
        #a3{
            padding-top: 150px;
            .container{
                gap: 111.8px;
                .img{
                    background-color: red;
                    background: url("./img/Group\ 29.png");
                    width: 100%;
                    max-width: 812px;
                    height: 475px;
                    flex-shrink: 0;
                    background-repeat: no-repeat;
                    background-size: 110%;
                    background-position: -39px -4px;
                }
            }
        }
        #a4{
            padding-top: 163px;
            .container{
                gap: 70px;
                .text{
                    display: flex;
                    gap: 30px;
                    .line{
                        width: 100%;
                        max-width: 350px;
                        display: flex;
                        gap: 16px;
                        flex-direction: column;
                        align-items: center;
                        .img{
                            width: 100%;
                            max-width: 44px;
                            height: 40px;
                            
                        }
                        h2{
                            padding-top: 28px;
                            text-align: center;
                        }
                    }
                }
            }

        }
        #a5{
           padding-top: 160px; 
        .container{
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .logo{
                display: flex;
                align-items: center;
                height: 72px;
            }
        } 
    }
    #a6{
        padding-top: 165px;
        .container{
            gap: 19px;
            .text{
                display: flex;
                flex-direction: column;
                align-items: center;
                    gap: 48px;  
            }
        }

    }
    }
    footer{
        padding:39px;
        background: #eff5f8;
        .container{
            max-width: 1135px;
            flex-direction: row;
            justify-content: space-between;
            .left{
                width: 100%;
                max-width: 825px;
                display: flex;
                gap: 135px;
                .div{
                    width: 100%;
                    max-width: 55px;
                    display: flex;
                    justify-content: center;
                }
            }
            .text{
                width: 100%;
                display: flex;
                max-width: 635px;
                p{
                    color: #4C545C;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 40px; /* 166.667% */
                    letter-spacing: 0.135px;
                    text-align: start;
                }
                span{
                    width: 100%;
                    max-width: 160px;
                    p{
                        color: #4C545C;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px; /* 166.667% */
                        letter-spacing: 0.135px;
                        text-align: start;
                    }
                }
            }
            .icons{
                display: flex;
                gap: 20px;
                i{
                    font-size: 24px;
                    color: #4C545C;
                }
            }
            a:hover{
                color: #26BBA4;
                i{
                    color: #26BBA4; 
                }
                p{
                    color: #26BBA4;
                }
            }
        }
    }
    
}
